@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&display=swap');


body{
   background-color: rgb(56, 23, 23);
}

.App{
  display: flex;
  flex-direction: column;
  gap: 10%;
}